/* *{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(Image/istockphoto-1163775073-612x612.jpg);
}
.Head h1{
    text-align: center;

}
.Intro h1{
    text-align: center;
}
.Intro h2{
    text-align: center;
}
.Feat h1{
    text-align: center;
}
.Feat h2{
    text-align: center;
} */